.banner {
  position: relative;
  background-image: url("../img/two-dogs.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 380px;
  height: 450px;
  z-index: 0;
}

.banner__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.banner__title-white {
  color: #FFF;
}

.banner__link-view {
  display: none;
}

@media (max-width: 1024px) {
  .banner__link-view {
    display: block;
  }
}