.project {
  max-width: 1440px;
  padding: 100px 0;
}

.project__title,
.pets__title {
  font-family: "Comfortaa";
  font-size: 50px;
  line-height: 60px;
  font-weight: 400;
  color: #000;
  margin-bottom: 50px;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

.project__wrapper-grid {
  display: grid;
  padding-top: 10px;
  grid-template-columns: 1fr;
  row-gap: 52px;
  align-items: end;
}

.project__list {
  display: grid;
  grid-template-rows: repeat(4, 180px);
  row-gap: 30px;
}

.project__item {
  display: grid;
  grid-template-columns: 280px max-content;
  gap: 20px;
}

.project__wrapper {
  display: grid;
  grid-template-columns: 680px 380px;
  column-gap: 120px;
}

.item__wrapper {
  display: grid;
  grid-template-columns: max-content;
  gap: 15px;
  padding: 5px 0 13px 0;
}

.item__link-top {
  padding-top: 5px;
}

@media (max-width: 1024px) {
  .container {
    max-width: 880px;
  }

  .project__item {
    grid-template-columns: 200px max-content;
  }

  .item__wrapper {
    gap: 7px;
    padding: 3px 0 0 0;
  }

  .item__link-top {
    padding-top: 4px;
  }

  .project__wrapper {
    grid-template-columns: 580px 280px;
    column-gap: 20px;
  }

  .project__wrapper-grid {
    padding-top: 3px;
    row-gap: 33px;
  }

  .project__list {
    grid-template-rows: repeat(4, 130px);
    row-gap: 30px;
  }

  .project__title,
  .pets__title {
    font-size: 44px;
    line-height: 54px;
    margin-bottom: 40px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 700px;
  }

  .project__list {
    row-gap: 20px;
  }

  .project__item {
    grid-template-columns: 160px max-content;
    gap: 10px;
  }

  .item__wrapper {
    gap: 3px;
    padding: 0;
  }

  .item__link-top {
    padding-top: 7px;
  }

  .project__wrapper-grid {
    padding-top: 0;
    row-gap: 20px;
  }

  .project__wrapper {
    grid-template-columns: 400px 220px;
    column-gap: 80px;
  }

  .project__list {
    grid-template-rows: repeat(4, 104px);
    row-gap: 20px;
  }

  .project__title,
  .pets__title {
    font-size: 30px;
    line-height: 34px;
    margin-bottom: 30px;
  }
}

@media (max-width: 320px) {
  .container {
    max-width: 270px;
  }

  .project__item {
    grid-template-columns: 130px max-content;
    gap: 10px;
  }

  .item__link-top {
    padding-top: 3px;
  }

  .project__wrapper {
    grid-template-columns: 270px;
  }
  .project__wrapper-grid {
    padding-top: 0;
    row-gap: 30px;
  }

  .project__list {
    grid-template-rows: repeat(4, 134px);
  }

  .project__title,
  .pets__title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
  }
}