@import "./css/normalize.css";
@import "./css/global.css";
@import "./css/about.css";
@import "./css/help.css";
@import "./css/form.css";
@import "./css/project.css";
@import "./css/item.css";
@import "./css/collage.css";
@import "./css/pets.css";
@import "./css/banner.css";

@font-face {
  font-family: "Comfortaa";
  src: local("Comfortaa-Regular"), local("Comfortaa Regular"), url("./fonts/font/Comfortaa-Regular.woff") format("woff"),
  url("./fonts/font/Comfortaa-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: local("HelveticaNeueCyr-Light"), local("HelveticaNeueCyr Light"), url("./fonts/font/HelveticaNeueCyr-Light.woff") format("woff"),
  url("./fonts/font/HelveticaNeueCyr-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: local("HelveticaNeueCyr-Roman"), local("HelveticaNeueCyr Roman"), url("./fonts/font/HelveticaNeueCyr-Roman.woff") format("woff"),
  url("./fonts/font/HelveticaNeueCyr-Roman.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: local("HelveticaNeueCyr-Medium"), local("HelveticaNeueCyr Medium"), url("./fonts/font/HelveticaNeueCyr-Medium.woff") format("woff"),
  url("./fonts/font/HelveticaNeueCyr-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}